/* Basic reset for padding and margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}